# macos
.DS_Store
.LSOverride

# vim
*.swp

# Xcode
xcuserdata
*.xccheckout
*.xcworkspace
*.playground
build

# Cocoapods
Pods

# Fastlane
/artifacts
/fastlane/report.xml
/fastlane/README.md
/fastlane/test_output

# Jazzy-generated documentation
docs/

# Build
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Gems
.bundle/
vendor/
# Use latest gem versions
Gemfile.lock

# Secrets
*Secrets.xcconfig
